.display-none {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 2.5vw;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.photograph-header div * {
    margin-right: unset;
}
.photograph-header #name {
    color: var(--secondary)
}
.photograph-header #localisation {
    color: var(--primary)
}
.photograph-header #tagline {
    color: grey;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#gallery {
    margin: 0 2.5vw;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 4vw;
}

#gallery .thumbnail {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 10px;
}

#gallery .like-button {
    background-color: transparent;
    border: none;
}
#gallery article div {
    width: 30vw;
    display: flex;
    justify-content: space-between;
}
#gallery .title {
    font-size: 24pt;
}
#gallery .title, #gallery .like-button::before, #gallery .like-button::after {
    color: var(--primary)
}

.heart::before {
    color: black;
    content: attr(data-before);
    font-size: 24pt;
}
.heart::after {
    color: black;
    content: " ♥";
    font-size: 28pt;
}
aside {
    background-color: var(--secondary);
    position: fixed;
    bottom: 0;
    right: 1vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1vw;
}
aside #price {
    font-size: 24pt;
    margin: unset;
}